
registry=https://registry.npmjs.org/
legacy-peer-deps=true
fetch-retries=10
fetch-retry-mintimeout=60000
fetch-retry-maxtimeout=300000
fetch-timeout=600000
git-tag-version=false
git=false
ignore-scripts=true
package-lock=false
